



/* ---------------------------------------------------------------------------- */
/* -------------------------------------Clear---------------------------------- */
/* ---------------------------------------------------------------------------- */
.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
.t-center{text-align: center;}
.t-left{text-align: left;}
.t-right{text-align: right;}
.f-right{float: right;}
.f-left{float: left;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Button--------------------------------- */
/* ---------------------------------------------------------------------------- */
.button{
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	border:1px solid #ffffff; 
	display: inline-block;
	text-decoration: none;
	background: #303030;
	margin: 10px;
	padding: 10px 25px;
	text-transform: uppercase;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	font-weight: bold;
}
.button:hover{opacity: 0.9;}

.button.bt1 {background: #ffffff;color: #000000;border:1px solid #000000;}
.button.bt2 {background: #0000ff;color: #ffffff;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Contact-------------------------------- */
/* ---------------------------------------------------------------------------- */
#contact_form {background:#37B5E5;padding:25px;}

#ff label {cursor:pointer;margin:5px 0;display:block;font-weight:bold;}

#ff input {display:block;width:90%;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;background-color:#f4f4f4; color:#000;	border:1px solid #5f5f5f;padding:10px;margin: 5px 0 25px 0;}

textarea {display:block;width:90%;height:200px; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;background-color:#fff; color:red;	border:1px solid #5f5f5f;padding:10px;margin: 5px 0 25px 0;}

#ff .sendButton {cursor:pointer;background-color:#303030;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;;width:35%;color:#ffffff;}
#ff .sendButton:hover {opacity: 0.8;}

.lgtip {
	padding: 0px 13px;
    border: 100;
    border-radius: 200;
   color: none; 
   max-width: 20px;
	
}
